In [34]:
import pandas as pd 
import numpy as np

#map
#map(funtion, iterable)
list(map(lambda x : x**2,[1,2,3,4]))

[1, 4, 9, 16]

In [6]:
list(map(lambda x : x%2 == 0,[1,2,3,4]))

[False, True, False, True]

In [7]:
#Filter(function, iterable).similar to the map function but it applies a condition
#only return the values where the conditons stands true 

list(filter(lambda x  : x%2 == 0,[1,2,3,4,5]))

[2, 4]

In [28]:
#write me a lambda function and me the vowels from the world 'hello'
vowels =['a','e','i','o','u']
x = list(filter(lambda x : x in vowels,'oiseau'))
x

['o', 'i', 'e', 'a', 'u']

In [29]:
from functools import reduce

In [32]:
y = [1,2,3,4,5]
#reduce(function that aggregates , list)
reduce(lambda a,b:a*b,y)

120

In [40]:
data = pd.read_csv('/Users/arthurspriet/Desktop/Ironhack/california_housing_test.csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [42]:
 data.apply(lambda x : np.sqrt((x['latitude']-30)**2 + (x ['longitude'] - 110)**2), axis = 1)

0       232.167008
1       228.339742
2       227.841358
3       228.391948
4       229.757215
           ...
2995    229.902492
2996    228.176123
2997    229.786379
2998    227.157004
2999    229.672535
Length: 3000, dtype: float64